<div class="container">
    <div class="left-content">
    <!-- Login image on the left -->
    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1084793354%2F960x0.jpg%3Ffit%3Dscale" alt="">    
    </div>
    <!-- Right content login form -->
    <div class="right-content">
        <h1>Login</h1>
        <p>Get started by logging into your account</p>
        <hr>
        <!-- Form containing input fields -->
        <form action="" class="login-form">
            <label for="email">*Email</label>
            <br>
            <!-- Email input field -->
            <input [(ngModel)]="loginUserData.Email" name="email" type="text">
            <br>
            <label for="email">*Password</label>
            <br>
            <!-- Password input field -->
            <input [(ngModel)]="loginUserData.Password" name="password" type="text">
            <br>
            <!-- Login user password -->
            <button (click)="loginUser()">Login</button>
            <h1 *ngIf="failed">Login validation error - check your credentials</h1>
        </form>
    </div>
</div>
