
img {
    width: 100%;
}

/* Headings */

h1, h2, h3, h4 {
    font-family: 'Sitka Banner';
}

a {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Sitka Banner';
    font-weight: bold;
}

/* Navbar backgorund */
.nav-background {
    background-color: #404E7C;
}

.dark-background {
    background-color: #474747;
}




