<div class="container">
    <div class="left-content">
        <img src="assets/login.jpg" alt="">
    </div>
    <div class="right-content">
        <h1>Register</h1>
        <p>Create an account</p>
        <hr>
        <form action="" class="login-form">
            <label for="email">*Email</label>
            <br>
            <input [(ngModel)]="registerUserData.Email" name="email" type="text" target="blank" placeholder="email" required>
            <br>
            <label for="email">*Password</label>
            <br>
            <input [(ngModel)]="registerUserData.Password" name="password" type="text" placeholder="password" required>
            <br>
            <label for="">IsAdmin</label>
            <input [(ngModel)]="registerUserData.IsAdmin" name="isAdmin" type="checkbox">
            <br>
            <button (click)="registerUser()">Register</button>
        </form>
    </div>
</div>
