<div class="container">
    <div class="left-content">
        <img src="assets/login.jpg" alt="">
    </div>
    <div class="right-content">
        <h1>Register</h1>
        <p>Create an account</p>
        <hr>
        <form action="" class="login-form">
            <label for="email">*Email</label>
            <br>
            <input type="text">
            <br>
            <label for="email">*Password</label>
            <br>
            <input type="text">
            <br>
            <button>Login</button>
        </form>
    </div>
</div>
