
.userName {
    float: right;
    font-size: 20px;
    margin-top: 20px;
}

.dashboard-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.dashboard-button-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

h1 {
    font-family: 'Sitka Banner' !important;
    font-weight: bold;
    color: #363635;
}

.grid-container {
    display: grid;
}

.title {
    text-align: center;
    padding: 50px;
}

/* Mobile Phone Size */
@media screen and (max-width: 700px) {
    .dashboard-container {
        flex-direction: column;
    }
}
