
/* User Name text */
.userName {
    float: right;
    font-size: 20px;
    margin-top: 20px;
}

/* User Token value text */
.userToken {
    float: left;
    font-size: 20px;
}

/* Dashboard container */
.dashboard-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

/* Dashboard button container */
.dashboard-button-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/* H1 Styling */
h1 {
    font-family: 'Sitka Banner' !important;
    font-weight: bold;
    color: #363635;
}

/* Disply-grid-responsive */
.display-grid {
    display: grid;
    grid-template-columns: auto auto;
}

/* Title */
.title {
    text-align: center;
    padding: 50px;
}

/* Mobile Phone Size */
@media screen and (max-width: 700px) {
    .display-grid {
        grid-template-columns: auto;
    }
}
